$spacing:             $base-spacing !default;

$spacing--quarter:    $spacing / 4 !default;
$spacing--half:       $spacing / 2 !default;
$spacing--double:     $spacing * 2 !default;
$spacing--quadruple:  $spacing * 4 !default;

%leading,
%leading--half,
%leading--quarter,
%leading--double,
%leading--quadruple,
%trailing,
%trailing--half,
%trailing--quarter,
%trailing--double,
%trailing--quadruple,
.leading,
.leading--half,
.leading--quarter,
.leading--double,
.leading--quadruple,
.trailing,
.trailing--half,
.trailing--quarter,
.trailing--double,
.trailing--quadruple {
  display: block;
}

%leading,
.leading {
  margin-top: rem($spacing);
}

%leading--half,
.leading--half {
  margin-top: rem($spacing--half);
}

%leading--quarter,
.leading--quarter {
  margin-top: rem($spacing--quarter);
}

%leading--double,
.leading--double {
  margin-top: rem($spacing--double);
}

%leading--quadruple,
.leading--quadruple {
  margin-top: rem($spacing--quadruple);
}

%trailing,
.trailing {
  margin-bottom: rem($spacing);
}

%trailing--half,
.trailing--half {
  margin-bottom: rem($spacing--half);
}

%trailing--quarter,
.trailing--quarter {
  margin-bottom: rem($spacing--quarter);
}

%trailing--double,
.trailing--double {
  margin-bottom: rem($spacing--double);
}

%trailing--quadruple,
.trailing--quadruple {
  margin-bottom: rem($spacing--quadruple);
}
